.wrap{
	background-color: white;
	box-shadow: 5px 5px 2px lightgray;
	border-radius: 30px;
	width:1000px;
	height:auto;
	margin:0 auto;
	padding:15px 40px;
}

.logo {
    width: 350px;
    height: 100px;
}

h1{
    font-size: 2.5rem;
}

.description{
    color:#888;
}

form{
    height: auto;
}

form input{
    outline: none;
    border: none;
    
    box-sizing: content-box;
    width: 100%;
}

#bigTitle{
    height: 3rem;
    font-size: 2rem;
    margin-top: 1rem;
    margin-bottom: 50px;
    border-bottom: 0.2rem solid lightgray;
}

.semiTitle{
    height: 70px;
}

.semiTitleInput{
    height: 2rem;
    font-size: 1.5rem;
    margin-top: 1rem;
    margin-bottom: 10px;
    border-bottom: 0.1rem solid lightgray;
}

#plusBtn{
    margin:25px auto;
    width: 75px;
    height:75px;
    border-radius: 50%;
    background-color:lightskyblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

#plusBtn:hover{
    background-color: rgb(93, 193, 255);
}

.deleteInput{
    height: 2rem;
    width: 2rem;
    background-color: rgb(255, 101, 101);
    position: relative;
    top: -3rem;
    left: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.deleteInput:hover{
    background-color: rgb(255, 70, 70);
}

#submitBtn{
    text-align: center;
    line-height: 30px;
    width: 75px;
    height:30px;
    border-radius: 1rem;
    background-color:rgb(35, 93, 255);
    color: white;
    font-weight: bold;
    margin-left: 90%;
}

#submitBtn:hover{
    background-color: #0080ff;
}