.logo {	
	width: 550px;
	height: 200px;
}

#tableLayout{
	display: flex;
	background-color: white;
	box-shadow: 5px 5px 2px lightgray;
	border-radius: 10px;
	flex-wrap: wrap;
	justify-content: space-around;
	height:auto;
	width: 80%;
	margin:0 auto;
	padding:22.5px;
}

#tableLayout > a{
	display: block;
	width: 385px;
	height: 300px;
	position: relative;
	margin: 25px 20px;
	overflow: hidden;
}

.tableBox{
	display:block;
	width: 385px;
	height: 300px;
	/* box-shadow: 5px 5px 2px lightgray; */
	background-color: #ececec;
	border-radius:30px;
	text-align:center;
	position: relative;
	margin: 25px 20px;
	overflow: hidden;
	/* border: 1px solid lightgray; */
	background: #ffffff;
	box-shadow: 5px 5px 14px #c9c9c9, 
				-5px -5px 14px #ffffff;
}

.tableName{
		font-size: 2.5rem;
		font-weight:800;
		position: relative;
		top: 55px;
}

.progressBar{
	width:300px;
	height:30px;
	position: relative;
	top: 9rem;
	left:50%;
	transform: translateX(-50%);
	border: 1px solid lightgray;
	/*border-radius: 15px;*/
	overflow: hidden;
	border-radius: 90px;
	background: #E4E4E4;
	box-shadow: 11px 11px 22px #e8e8e8, 
				-11px -11px 22px #ffffff;

}

.progressBar .ingBar{
	background-color: #428dff;
	border-radius:50px;
	height: 100%;
}

.share{
	display:inline-block;
	width: 70px;
	height: 30px;
	position: relative;
	top: 170px;
	left: 35%;
}

.share .people_count{
	position: relative;
	top:-32%;
}

#plus-table img{
	width:100px;
	height:100px;
	margin: 100px auto 0;
}

#loginBtn{
	display: inline-flex;
	width: auto;
	height: 2.5rem;
	
}

#loginBtn > *{
	line-height: 2.5rem;
	width: auto;
	border-radius: 4px;
	text-align: center;
	color: white;
	font-size: 1.1rem;
	margin: 0 0.4rem;
}

#loginBtn img{
	height: 2.5rem;
	width: auto;
}

#loginBtn span{
	color: black;

}

#loginBtn span .highlight{
	font-weight: 800;
	font-size: 1.5rem;
}

#loginBtn a#logout{
	display: inline-block;
	background-color: rgb(255, 101, 101);
	padding:0 10px;
}