*{
  -webkit-box-sizing: border-box !important;
	-moz-box-sizing: border-box !important;
	-ms-box-sizing: border-box !important;
	box-sizing: border-box !important;
}

body{
  display: flex;
}
.sideMenu{
  width:300px;
  height:100%;
  border:2px solid lightgray;
  background-color:white;
  border-radius:20px;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-right:1%;
}

.sideMenu .logo{
  border-radius: 0%;
  width: 100%;
  height: 60px;
  margin: auto;
  line-height: 60px;
}

.sideBar{
  width: 100%;
  flex: 2;
  position: relative;
  display: block;
}

.sideBar > div{
  height: 100%;
  width: 100%;
  position: absolute;
  flex-direction: column;
  align-items: center;
  display: none;
  padding: 5px;
}

.sideBar > div:first-child{
  display: block;
}


.sideMenuList{
  width: 100%;
  height: auto;
}

.tableListEl, .people{
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space:nowrap;
}

.tableListEl:hover, .people:hover{
  transition: 0.5s;
  border-radius: 5px;
  background-color: lightgray;
}

.tableListEl span, .people span{
  font-size: 1.5rem;
  font-weight: bolder;
  display: inline-block;
  width: 45%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.progressBar{
	width:50%;
	height:20px;
	border: 1px solid lightgray;
	overflow: hidden;
	border-radius: 15px;
	background: #E4E4E4;
	box-shadow: 11px 11px 22px #e8e8e8;

}

.progressBar .ingBar{
	background-color: #428dff;
	border-radius:15px;
	width: 0%;
	height: 100%;
}


.bottomMenu {
  width: 100%;
  height: 80px;
  display:flex;
  justify-content:space-around;
  align-items:center;
  position: sticky;
  top: 100%;
}

.bottomMenu > *{
  /* width: 33.3%; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-top: solid 2px gray;
  background-color: lightgray;
}
.myTable{
	width:33.4%;
}
.groupTable{
	width:33.3%;
}
.myTree{
  width:33.3%;
  border: solid 2px gray;
  border-bottom:0;
}

.bottomMenu > div > img{
  width: 45px;
  height: 45px;
}

.mainTree{
  height: 100%;
  width: calc(100% - 300px);
  border:2px solid lightgray;
  background-color:white;
  border-radius:20px;
  box-shadow: 11px 11px 22px #e8e8e8;
  overflow: hidden;
}


#chart-container, #chart-container2, #chart-container .orgchart{
  height: 100%;
  width:100%;
}

#chart-container .orgchart, #chart-container2 .orgchart{
  background-image: none;
}

#chart-container2 .orgchart{
  padding:0;
}

#chart-container2 .orgchart .node{
  width: auto;
  height: 40px !important;
  margin-bottom: 5px;
  display: flex;
}

#chart-container .orgchart .node i{
	display:none;
}

.orgchart .title{
  min-width: 100px;
  width: auto !important;
  height: 30px !important;
  line-height: 30px !important;
  font-size: 1rem !important;
  padding: 0 10px!important;
  border-radius: 4px !important;
}

#chart-container2 .orgchart > table{
  margin:0;
}

.orgchart .title i{
  display: none;
}

.orgchart .content{
  display: none;
}

.orgchart .node .toggleBtn{
  display: none;
}

.orgchart .node .overMenu{
	width:25px;
	height:25px;
  position: absolute;
  left: 100%;
  top: 15%;
	margin:0;
	padding:0;
  transition:2s;
  z-index: 999;
  display:none;
}

#share{
    position: relative;
    background-color: #428dff;
    color: white;
    font-size: 1.2rem;
    text-align: center;
    font-weight: 500;
    width: 5.5rem;
    height: 2.4rem;
    line-height: 2.4rem;
    top: 4%;
    left: 96%;
    transform: translate(-50%, -50%);
    border-radius: 10px;
}

#share:hover {
	cursor: pointer;
  background-color: #0d6eff;
}